@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}

.title-main {
  font-weight: 600;
  font-size: 34px;
}

.button {
  display: inline-block;
  background-color: black;
  border-radius: 30px;
  padding: 10px 30px;

  font-size: 18px;
  color: #F1F1F1;

  transition: background-color 0.2s ease-in, scale 0.05s ease-in;
}

.button:hover {
  background-color: #4a4a4a;
}

.button:active {
  background-color: #4a4a4a;
  scale: 90%;
}

a {
  color: black;
}

/* HEADER */

.header {
  padding-top: 40px;
  background-color: #F1F1F1;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  color: black;
  padding: 0 12px 3px 0;
  line-height: 1;
}

.IL {
  color: #3D5A80;
}

.KA {
  color: #B7CE63;
}

.logo::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3D5A80;
}

/* NAV */

.nav-list {
  display: flex;
  column-gap: 50px;
  font-weight: 500;
  font-size: 20px;
}

.nav-button {
  display: none;
  width: 35px;
}

.btn-up {
  position: fixed;
  right: 6vw;
  bottom: 50px;
  border-radius: 50%;
  /*cursor: pointer;*/
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  max-width: 5vh;
  min-width: 30px;
  min-height: 30px;
  max-height: 5vh;
  z-index: 3;
  opacity: 0.6;

  transition: bottom 0.6s ease-in-out;
}

.btn-up:hover {
  scale: 110%;
  opacity: 1;
}

.btn-up-hide {
  bottom: -80px;
}

.nav-item-close {
  display: none;
}

.nav-link:active, .nav-link:hover {
  color: #5882ba;
}

/* HEADER CONTENT */
.header-row {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  padding-top: 30px;
}

.header-content {
  max-width: 500px;
  padding-top: 124px;
}

.header-content h1 {
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 20px;
}

.DD {
  background-color: #f1f1f1;
  background-image: linear-gradient(#5882ba, #001941);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-content p {
  font-size: 18px;
  line-height: 2;
}

/* SERVICES */

.services {
  padding: 90px 0;
}

.service-row {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 30px;
}

.service-card {
  min-width: 315px;
  flex: 1 1 0;
}

.service-img {
  margin-bottom: 30px;
  transition: scale 0.2s ease-in;
}

.service-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 24px;
  color: #B7CE63FF;
  /*-webkit-text-stroke: 1px #000000;*/
}

.service-card p {
  line-height: 2;
}

/* PORTFOLIO */
.portfolio {
  padding: 90px 0;
  background-color: #F1F1F1;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
}

.project {
  text-align: center;
}

.project + .project {
  margin-top: 90px;
}

.project-img {
  margin-bottom: 30px;
}

.project-title {
  font-size: 18px;
  text-decoration: underline;
}

/* FOOTER */
.contacts {
  text-align: center;
  padding: 90px 0 45px;
}

.contacts-title {
  margin-bottom: 40px;
}

.contacts-content {
  font-size: 18px;
  margin-bottom: 40px;
}

.contacts-button {
  text-align: center;
  max-width: 195px;
  margin:0 auto 60px;
  cursor: pointer;
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, z-index 0.8s ease-out;
  z-index: -1;
}

.show-bg {
  opacity: 0.8;
  z-index: 3;
}

.modal-container {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0;
}

.modal-contact {
  position: fixed;
  bottom: -200vh;
  top: 220vh;
  height: 80vh;
  width: 500px;
  max-height: 450px;
  background-color: #f1f1f1;
  opacity: 1;
  z-index: 5;

  border-radius: 30px;
  transition: bottom 0.7s ease-in-out, top 0.7s ease-in-out;
  overflow-y: auto;
}

.show-modal {
  top: 25vh;
  bottom: 25vh;
}

.btn-close {
  text-align: right;
  margin-top: 15px;
  margin-right: 15px;
  font-size: 18px;
}

.btn-close img {
  max-width: 3vh;
  min-width: 20px;
  cursor: pointer;
}

.input-title {
  text-align: left;
  margin: 10px 0 5px 10%;
  min-width: 70px;
  font-weight: 600;
  font-size: 16px;
}

.lbl-in {
  display: flex;
  margin: 0 10%;
  width: 80%;
}

.input {
  min-width: 100%;
  border: 2px solid rgba(176, 176, 176, 0.75);
  border-radius: 10px;
  padding: 0 10px;
  height: 30px;
  font-size: 18px;
  background-color: white;
}

.input:focus {
  border: 3px solid #89a9e3;
}

input::placeholder, textarea::placeholder {
  color: #4c73be;
  opacity: 0.6;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #89a9e3;
  opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #89a9e3;
  opacity: 0.5;
}

.void-field {
  border: 3px solid rgba(204, 0, 0, 0.48);
}

.call-me {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  min-height: 30px;
  margin: 10px 10%;
  gap: 10px;
  min-width: 80%;
}

.title-checkbox {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
}

.call-me p {
  margin-left: 0;
}

.lbl-checkbox {
  margin-left: 15px;
  margin-top: 14px;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid #3a3a3a;
  background-color: #ffffff;
}

.lbl-checkbox:hover {
  border: 2px solid rgb(61, 120, 236);
}

input[type="checkbox"]:checked + label[class="lbl-checkbox"] {
  background-image: url("../img/icons/check.svg");
  background-size: 100%;
  background-color: rgba(152, 183, 234, 0.78);
  border: 2px solid rgb(61, 120, 236);
}

.checkbox {
  display: none;
}

.lbl-in-mobile {
  max-width: 50%;
  opacity: 1;
  transition: margin-right 0.4s ease-in-out, opacity 0.4s ease-in-out;
  z-index: 5;
}

.mobile-hide {
  margin-right: 100px;
  opacity: 0;
  z-index: -2;
}

.lbl-in-mobile input {
  width: 100%;
}

.mess-box {
  width: 80%;
  height: 20%;
  min-height: 100px;
  margin: 5px 10% 0;
}

.lbl-textarea {
  display: flex;
  height: 100%;
}

.message-area {
  min-width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  border: 2px solid rgba(176, 176, 176, 0.75);
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 18px;
}

.message-area:focus {
  outline: none;
  border: 3px solid #89a9e3;
}

.modal-contact button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contacts-social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  margin-bottom: 40px;
  transition: top 0.3s ease-in, scale 0.3s ease-in;
}

.contacts-social a:hover {
  scale: 105%;
}

.contacts-social a:active {
  position: relative;
  top: 2px;
}

.contacts-footer {
  color: #878787;
}
