@media (max-width: 1230px) {

  ::-webkit-scrollbar {
    width: 0;
  }

  .button:hover {
    background-color: black;
  }

  .nav-list {
    display: none;
  }

  .nav-item-close {
    display: block;
  }

  .nav-item-close img {
    /*max-width: 4vw;*/
    height: 4vh;
    vertical-align: bottom;
    cursor: pointer;
  }

  .nav .nav-list {
    display: flex;
    position: fixed;
    left: 2vw;
    right: 2vw;
    width: 96vw;
    height: 55vh;
    top: -90vh;
    /*background-color: #ffffff;*/
    text-align: center;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2vh;
    font-size: 5vh;
    font-weight: 600;
    padding-bottom: 5vh;
    transition: top 0.3s ease-in;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(14, 14, 25, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 3px solid rgba(65, 65, 65, 0.2);
  }

  .nav.open .nav-list {
    top: -10vh;
  }

  .nav-link {
    /*-webkit-text-stroke: 1px #000000;*/
    color: #020a19;
    opacity: 0.8;
    font-weight: 600;
  }

  .nav-link.active {
    color: #3d78ec;
  }

  .nav-button {
    display: block;
    position: fixed;
    z-index: 1;
    top: 50px;
    right: 30px;
  }

  .btn-up {
    right: 33px;
  }

  .btn-up:hover {
    scale: none;
    opacity: 0.6;
  }

  .btn-up:active {
    scale: 110%;
    opacity: 1;
  }

  .header-nav {
    margin-bottom: 30px;
  }

  .header-row {
    flex-direction: column;
    row-gap: 0;
    padding-top: 0;
    width: 100%;
  }

  .header-content {
    padding-top: 0;
    max-width: 85%;
  }

  .header-img {
    text-align: center;
    width: 100%;
  }

  .header-img img {
    max-height: 320px;
  }

  .services {
    padding: 50px 0;
  }

  .service-card p {
    max-width: 85%;
  }

  .show-modal {
    top: 10vh;
    bottom: 10vh;
  }

  .btn-close {
    position: static;
    display: flex;
    justify-content: right;
  }
}

@media (max-width: 700px) {

  .button:hover, .button:focus {
    background-color: black;
  }

  .button:active {
    background-color: black;
    scale: 90%;
  }

  .header-content {
    max-width: 85%;
    line-height: 1.3;
  }

  .header-content h1 {
    font-size: 34px;
    margin-bottom: 10px;
  }

  .DD {
    font-size: 27px;
  }

  .header-content p {
    line-height: 1.5;
  }

  .services {
    padding: 50px 0;
  }

  .service-card p {
    max-width: 85%;
  }

  .portfolio {
    padding: 60px 0;
  }

  .portfolio-title {
    margin-bottom: 50px;
  }

  .project-img {
    margin-bottom: 30px;
  }

  .project + .project {
    margin-top: 55px;
  }

  .contacts {
    padding: 60px 0;
  }

  .contacts-title {
    margin-bottom: 20px;
  }

  .contacts-content {
    margin-bottom: 20px;
  }

  .contacts-button {
    margin-bottom: 50px;
  }

  .modal-contact {
    height: 80vh;
    width: 80vw;
  }

  /* bbbbsjicdsvgisdviugsdvgdsvds */

  .lbl-in-mobile {
    min-width: 160px;
    font-size: 10px;
  }

  .input {
    font-size: 14px;
  }

  .message-area {
    font-size: 14px;
  }

  /*.call-me {*/
  /*  flex-wrap: wrap;*/
  /*  margin-top: 0;*/
  /*  gap: 10px;*/
  /*}*/

  /*.call-me input {*/
  /*  width: 100%;*/
  /*}*/

  /*.lbl-checkbox {*/
  /*  display: flex;*/
  /*  margin-top: 13px;*/
  /*  max-width: 20px;*/
  /*  margin-left: 20px;*/
  /*}*/

  /*.title-checkbox {*/
  /*  display: flex;*/
  /*  flex-wrap: nowrap;*/
  /*  max-height: 30px;*/
  /*  min-width: 50%;*/
  /*}*/

  /*.title-checkbox p {*/
  /*  max-width: 60%;*/
  /*}*/



  /*.mobile-hide {*/
  /*  min-width: 20px;*/
  /*  max-width: 20px;*/
  /*  opacity: 0;*/
  /*  z-index: -2;*/
  /*}*/

  .contacts-social {
    column-gap: 50px;
    margin-bottom: 20px;
  }
}

@media (max-height: 500px) {

  .nav .nav-list {
    top: -550vh;
    transition: none;
  }
}

@media (max-width: 450px) {

  .input-title {
    font-size: 14px;
  }

  .input {
    font-size: 13px;
    max-height: 25px;
    padding-left: 5px;
  }

  .call-me {
    flex-wrap: wrap;
    gap: 10px;
  }

  .call-me input {
    width: 100%;
  }

  .lbl-checkbox {
    display: flex;
    margin-top: 13px;
    max-width: 20px;
    margin-left: 10px;
  }

  .title-checkbox {
    display: flex;
    flex-wrap: nowrap;
    min-width: 50%;
  }

  .title-checkbox p {
    max-width: 60%;
  }

  .lbl-in-mobile {
    min-width: 140px;
    max-width: 50%;
    margin-right: 0;
    transition: none;
  }

  .mobile-hide {
    max-width: 20px;
    min-width: 20px;
  }

  .message-area {
    font-size: 13px;
  }
}

@media (max-width: 320px) {

  .input {
    font-size: 11px;
  }

  .lbl-in-mobile {
    min-width: 125px;
  }

  .mobile-hide {
    max-width: 20px;
    min-width: 20px;
  }
}